{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Сервис хранения SelfStorage</title>
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-3 mb-3">
        <div class="card md-3">
            <div class="card-header border-secondary mx-auto">

            <h5 class="card-header border-secondary mx-auto">Калькулятор стоимости хранения</h5>
            <form method="POST" class="post-form" action="{% url 'checkout' %}">
                
                {% csrf_token %}
                <input name="source_page" id="sourcePage" type="hidden" value="calc">

                <div id="storage-calc" class="d-grid gap-2 col-10 mx-auto m-2">

                    <select name="storage_id" id="selectedStorage" class="form-select" value="0">
                    </select>

                    <label for="storageTime" class="form-label">Период хранения (месяц): <span
                            id="storageTimeLabel">1</span></label>
                    <input name="storage_time" id="storageTime" type="range" min="1" max="12" step="1" value="3" list="timeMarks">
                    <datalist id="timeMarks">
                        <option>1</option>
                        <option>3</option>
                        <option>6</option>
                        <option>9</option>
                        <option>12</option>
                    </datalist>

                    <label for="storageSize" class="form-label">Площад (м2): <span
                            id="storageSizeLabel">1</span></label>
                    <input name="storage_size" id="storageSize" type="range" min="1" max="20" step="1" value="0" list="sizeMarks">
                    <datalist id="sizeMarks">
                        <option>1</option>
                        <option>5</option>
                        <option>10</option>
                        <option>15</option>
                        <option>20</option>
                    </datalist>

                    <p><strong>Цена:</strong> <span id="storagePrice"></span></p>
                </div>

                <div class="d-grid gap-2 col-6 mx-auto m-4">
                    <input class="btn btn-primary" type="submit" value="Оформить">
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}

{% block footer_scripts %}
    <script id="storageData" type="application/json">
            {{ storages | safe}}
        </script>
    <script src="{% static 'scripts/calc.js' %}"></script>
{% endblock %}