{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>
  Сезонное хранение вещей
</title>
{% endblock %}
{% block content %}
<form class="rounded py-3">
  {% csrf_token %}
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <div class="card mb-3">
        <h5 class="card-header border-secondary mx-auto">
          Калькулятор сезонного хранения
        </h5>
        <!-- Блок "Что хранить" -->
        <div class="me-2 ms-2" >
          {{ form.inventory.label }}
            <div class="card">
              <div class="row row-cols-1 row-cols-md-2 g-4">
                {% for radio, obj in inventory %}
                <div class="col d-flex align-items-stretch">
                  <div class="card">
                    <img
                    src='{{ obj.picture.url }}'
                    class="img-fluid">
                    <div class="card-body">
                      <div class="form-check form-check-inline ps-0">
                        {{ radio.tag }}
                        {{ radio.choice_label }}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
        <!-- Блок "Количество" -->
        <div class="m-0 form-control form-control-md" style="display: none;" id="quantity_block">
          {{ form.quantity.label_tag }}
          {{ form.quantity }}
        </div>
        <!-- Блок "Склады" -->
        <div class="m-0 form-control form-control-md" style="display: none;" id="storage_block">
          {{ form.storage.label_tag }}
          {% for radio in form.storage %}
            <p class="mb-0">{{ radio }}</p>
          {% endfor %}
        </div>
        <!-- Блок "Тарифы" -->
        <div class="m-0 form-control form-control-md" style="display: none;" id="prices_block">
          <p class="mt-0">
            Стоимость хранения одной единицы (одного комплекта)
          </p>
          <p class="mt-0 mb-0">1 неделя: <span id="weekPrice"></span></p>
          <p class="mt-0 mb-0">1 месяц: <span id="monthPrice"></span></p>
        </div>
        <!-- Блок "Период хранения" -->
        <div class="m-0 form-control form-control-md" style="display: none;" id="date_block">
          <p class="mt-0">
            Период хранения: от 1 недели до 6 месяцев
          </p>
          {{ form.start_service.label_tag }}
          {{ form.start_service }}
          {{ form.end_service.label_tag }}
          {{ form.end_service }}
        </div>
        <!-- Блок "Цена хранения" -->
        <div class="m-0 form-control form-control-md" style="display: none;" id="total_price_block">
          <p class="mt-0">
            Цена хранения: <span id="totalPrice" class="fs-3" style="color: red;"></span>
          </p>
        </div>
  
        <div class="m-0 form-control form-control-md" style="display: none; justify-content: center;" id="go_to_payment">
          <button class="btn-primary" type="submit">
            Перейти к оплате
          </button>
        </div>

      </div>
    </div>
  </div>
</form>

{% endblock %}

{% block footer_scripts %}
  <script src="{% static 'scripts/season_calc.js' %}">
  </script>
{% endblock %}